[Unit]
Description=MSK Scripts Shop (Next.js)
After=network.target

[Service]
Type=simple
User=musiker15
WorkingDirectory=/opt/msk-shop

ExecStart=/opt/msk-shop/node_modules/.bin/next start -p 3005

Restart=always
RestartSec=5
Environment=NODE_ENV=production
EnvironmentFile=/opt/msk-shop/.env.local

[Install]
WantedBy=multi-user.target